.section {
  color: brown;
  background-color: lightseagreen;
  background-position: center;
  font-family: Segoe UI;
}
.tittle {
  text-align: center;
  padding: 60px;
  font-size: 60px;
  color: maroon;
  line-height: 20%;
}
.slogan{
  text-align: center;
  padding: 40px;
  font-size: 40px;
  color: darkgreen;
  line-height: 10%;
}
.subtitle1{
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.parrafo{
  text-align: center;
  box-sizing: content-box;
  padding: 10px;
  margin: 10px;
  box-sizing: border-box;
  vertical-align: middle;
}
#button1{
  padding: 10px 6px;
  margin: 2px 0px; 
  width: 10%;
  box-sizing: border-box;
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
  border-radius: 8px;
  text-align: center;
}
.enterdates {
  text-align: left;
  padding: 20px;
  font-size: 40px;
}
.text {
  text-align: left;
  padding: 20px;
  font-size: 30px;
  line-height: 10%
}
.textbox {
  width: 350px;
  margin:auto;
}
#button2 {
  padding: 10px 6px;
  margin: 2px 0px; 
  width: 10%;
  box-sizing: border-box;
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
  border-radius: 8px;
  text-align: center;
}
.typecard {
  text-decoration: underline;
  text-align: center;
  line-height: 25px;
  margin: 2px 0px; 
  width: 10%;
}
.ocultar{
  display:none;
}
.mostrar{
  display:block;
}
#return{
  padding: 10px 6px;
  margin: 2px 0px; 
  width: 10%;
  box-sizing: border-box;
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
  border-radius: 8px;
  text-align: center;
}
